nav:not([class*="ui-schedule"]) {
    background: linear-gradient(90deg, $black, darken($red, 25%));
    box-shadow: 0px 4px 18px 4px rgba(#000, 0.2);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    ul {
        float: right;
        margin: 0;
        padding: 0 $spacer/2 0 0;
        list-style-type: none;
        li {
            height: auto;
            float: left;
            width: auto;
            height: 68px;
            margin-left: 1px;
            overflow: hidden;
            transition: all 260ms ease-in-out;
            a {
                position: relative;
                display: block;
                vertical-align: middle;
                padding: $spacer $spacer/2;
                font-size: 1em;
                color: $orange;
                text-transform: capitalize;
                span {
                    float: left;
                    line-height: 0.8em;
                    margin-right: $spacer/4;
                    display: block;
                    height: 68px;
                }
                
            }
            &.title {
                position: absolute;
                left: 0;
            }
        }
    }
}

nav.ui-schedule {
    position: fixed;
    z-index: 99;
    top: 68px;
    left: $spacer/2;
    bottom: 0;
    width: 122px;
    height: calc(100% - 68px);
    display: table;
    ul {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            //height: calc((100vh - 68px)/7);
            height: 44px;
            display: table;
            width: 100%;
            transition: all 260ms ease-in-out;
            a {
                position: relative;
                //background: darken($white, 12%);
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                padding: 0 $spacer/2;
                height: 44px;
                //font-size: 13px;
                text-transform: capitalize;
                color: $black;
                transition: all 260ms ease-in-out;
                border-radius: 3px;
                &.on {
                    color: darken($orange, 18%) !important;
                    background: $orange;
                }
                &:hover {
                    color: darken($orange, 9%) !important;  
                    padding-left: $spacer - $spacer/4;
                    transition-delay: 0;
                }
            }
            &.inject {
                opacity: 0;
                transform: scale(.75);
            }
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transition-delay: #{360 + ($i * 25)}ms;
                    &:hover {
                        transition-delay: 0ms;
                    }
                }
            }
        }
    }
}