// vars
$spacer : 24px;
// colors
$white : #FFFFFF;
$black : #2A2C2B;
$green: #588F27;
$red: #D90000;
$orange: #FF9800;
$blue: #04BFBF;

$font-heavy : 'Gibson W01 Bold', sans-serif;
@import "compass/utilities/general/clearfix";
@import "nav";
@import "ui-modal";
//@import "ui-loading";

// defaults
body {
    background: darken($white, 8%);
    color: lighten($black, 5%);
    font-family:'Gibson W01 Regular', sans-serif;
    font-weight: 400;
    font-size: 1em;   
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

section {
    max-width: 960px;
    padding: $spacer/2 0;
    margin: 0 auto;
    transition: all 260ms ease-in-out;
}

h1 {
    font-family:'Gibson W01 Bold', sans-serif;
    text-transform: capitalize;   
    margin: $spacer * 5 0 $spacer;
}
h3 {
    font-family:'Gibson W01 Bold', sans-serif;
    font-size: 1.5em;
}
p {
    font-size: 1.25em;
    line-height: 1.54em;
}
mark {
    background: lighten($orange, 35%);
}
img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 -4px 0;
}

hr {
    border: none;
    border-bottom: 1px dotted rgba($black, 0.5);
    height: 8px;
    clear: both;
    margin: 0;
    width: 100%;
}

a {
    color: $orange;
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

// inputs
input {
    border: none;
    padding: 8px;
    margin-bottom: $spacer/4;
    width: 100%;
    background: transparent;    
    border: 1px dotted transparent;
    &:focus {
        outline: none;
        border: 1px dotted $orange;
        color: $orange;
    }
    &:hover {
        cursor: pointer;
    }
}

// app layout
.layout-site {
    position: relative;
    padding: $spacer * 6 $spacer;
    
    nav {
        background: linear-gradient(90deg, $black, darken($red, 25%));
        box-shadow: 0px 4px 8px 4px rgba(#000, 0.2);
    }
    h1 {
        font-size: 2.5em;
        margin-top: $spacer * 2;
        @media screen and (min-width: 800px) { 
            font-size: 4em;
        }
    }
    h2 {
        font-size: 1.75em;
        @media screen and (min-width: 480px) { 
            font-size: 2em;
        }
        margin-bottom: $spacer * 2;
    }
    
    ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-bottom: $spacer;
        display: block;
        li {
            line-height: 1.4em;
            &:before {
                content: "check";
                color: $orange;
                font-family: "Material Icons";
                margin-right: $spacer/2;
            }
        }
    }
    h4, p, ol li {
        font-size: 1.1em;
        @media screen and (min-width: 480px) { 
            font-size: 1.25em;
            line-height: 1.54em;
        }
    }
    hr {
        margin: $spacer 0; 
    }
    .ui-btn {
        font-size: 16px;
        letter-spacing: 0.075em;
        border-top: 2px solid transparent;
        border-bottom: 2px solid darken($orange, 8%);
        transition: all 260ms ease-in-out;
        &:hover {
            background:  darken($orange, 8%);
        }
    }
    .bg {
        position: absolute;
        top: -96%;
        width: 230%;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        @media screen and (min-width: 480px) { 
            display: block;
        }
        @media screen and (min-width: 800px) { 
            right: 0; 
            width: 160%;  
        }
        background: url("../img/screen.01.png") no-repeat center center;
        pointer-events: none;
    }
    .row {
        @media screen and (min-width: 600px) { 
            display: flex;
        }
        justify-content: space-between;
        .col {
            
            @media screen and (min-width: 600px) { 
                 width: 48%;
            }
        }
    }
}

// app layout
.layout-app {
    h1 {
        text-indent: $spacer; 
    }
    .list-users {
        p {
            padding: 0 $spacer;
            a {
                text-decoration: underline;
            }
        }
    }
    section {
        max-width: 800px + ($spacer * 2);
        padding: $spacer;
    }
}

// states
[data-state="schedule"] {
    
    .list-users, [data-nav="users"] {
        display: none;    
    }
    .layout-app {
        padding-left: 150px;
    }
}
[data-state="users"] {
    [data-nav="schedule"] {
        display: none;    
    }
    .layout-app section {
        max-width: 600px;
    }
}

// card/ist UI
.card-item, .card-user {
    border-radius: 4px;
    .card-close {
        position: absolute;
        z-index: 99;
        top: $spacer/4;
        right: $spacer/4;
        cursor: pointer;
        display: none;
        transition: all 260ms ease-in-out;
        &:hover {
            color: $orange;
        }
    }
    .ui {
        position: absolute;
        z-index: 9;
        left: 0;
        bottom: 0;
        height: 66px;
        width: 100%;
        border-top: 1px dashed rgba($black, 0.16);
        button {
            position: absolute;
            background: none;
            border: none;
            z-index: 999;
            padding: $spacer/6 $spacer/2;
            color: lighten($black, 25%);
            text-transform: uppercase;
            width: 44px;
            height: 44px;
            padding: 0;
            line-height: 58px;
            margin: 0;
            text-align: center;
            display: block;
            transition: all 260ms ease-in-out;
            // found on the user name list cards
            &[data-action*="edit"] {
                bottom: $spacer/2;
                right: $spacer/2;
                &:hover {
                    background: darken($orange,12%);
                    color: $white;
                }
            }
            &[data-action*="save"] {
                bottom: 0px;
                right: 88px;
                color: $white;
                width: auto;
                height: auto;
                line-height: 44px;
                font-size: 14px;
                min-width: 88px;
                background: $blue;
            }
            &[data-action*="removeUser"] {
                bottom: 0px;
                right: 0px;
                color: $white;
                background: $red;
                width: auto;
                min-width: 88px;
                height: auto;
                line-height: 44px;
                font-size: 14px;
            }
            &[data-action*="refresh"] {
                bottom: 0px;
                right: $spacer/2 + 45px;
                bottom: $spacer/2;
                color: $blue;
                &:hover {
                    color: $white;
                    background: $blue;
                }
            }
            &[data-action*="add"] {
                z-index: 9999;
                background: darken($white, 4%);
                border-radius: 100%;
                border: $spacer/4 solid darken($white, 8%);
                bottom: -28px;
                height: 54px;
                width: 54px;
                left: calc(50% - 22px);
                &:hover {
                    color: $white;
                    background: $orange;
                }
                
            }
            &[data-action*="delete"] {
                border-color: transparent;
                right: $spacer/2;
                bottom: $spacer/2;
                color: $red;
                &:hover {
                    color: $white;
                    background: $red;
                }
                
            }
            &:focus, &:active, &:target {
                outline: none;
            }
            
        }
    }
}
// users
.card-user {
    position: relative;
    z-index: 0;
    background: $white;
    width: 100%;
    display: block;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 260ms ease-in-out;
    input {
        position: relative;
        z-index: 1; 
        margin: 0;
        width: calc(100% - #{$spacer * 2});
        padding: $spacer;
        display: inline-block;
        font-size: 18px;
        border: none;
        transition: all 160ms ease-in-out;
    }
    .ui {
        border: none;
        [data-action="save"], [data-action="removeUser"] {
            display: none;
        }
    }
    &:hover {
        &:not([class*="edit"]) {
            
            input {
                color: darken($orange, 0%) !important;  
                padding-left: $spacer * 1.25;
            }
        }
    }
    &:after {
        content: "";
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(#000, 0.8);
        pointer-events: none;
        opacity: 0;
        transition: opacity 260ms ease-in-out;
    }
    &.new {
        color: $orange;
        background: lighten(yellow, 45%); 
        input {
            color: $orange;
        }
    }
    &.edit {
         z-index: 999;
        //box-shadow: 0px 0px 8px 4px rgba(#000, 0.06);
        margin: $spacer 0;
        padding: $spacer 0 ;
        .card-close {
            display: block;
        }
        input {
            position: relative;
            z-index: 3;
            //border: none;
            font-size: 26px;
            //font-family:'Gibson W01 Bold', sans-serif;
            color: $black;
        }
        .ui {
            border: none;
            
            [data-action="edit"] {
                display: none;
            }
            [data-action="save"], [data-action="removeUser"] {
                display: block;
            }
        }
        &:after {
            opacity: 1;
            
        }
        &:before {
            content: "";
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            opacity: 1;
        }
    }
    &.inject {
        opacity: 0;
        transform: scale(.95);
    }
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
            transition-delay: #{260 + ($i * 25)}ms;
            &:hover {
                transition-delay: 0ms;
            }
        }
    }
}

// skeleton
.card-item {
    position: relative;
    z-index: 0;
    background: $white;
    margin-bottom: $spacer/4;
	display: flex;
	justify-content: space-between;
	//-ms-flexbox: flex;
	//flex-direction:row;
	//width: calc(100% - #{$spacer * 2});
	transition: all 260ms ease-in-out;
	user-select: none;
	> .col {
    	position: relative;
        width: 50%;
        > div {
            padding: $spacer $spacer 88px;
        }
	}
    
    .ui-time {
        font-size: 48px;
        font-family:'Gibson W01 Bold', sans-serif;
    }
    .ui-label {
        
        font-size: 30px;
        text-transform: capitalize;
    }
    .display {
        position: relative;
        img {
            object-fit: cover;
            height: 300px;
        }
    }
    &.new {
        background: lighten(yellow, 45%);
        input {
            background: none;
            border: 1px dotted $orange;
            color: $orange;
        }
    }
    &.delete {
        opacity: 0;
        transform: scale(.95);
    }
    &.list {
        opacity: 0;
    }
    &:after {
        content: "";
        background: rgba($black, 0.85);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 260ms ease-in-out;
    }
    &.refresh {
        &:after {
            opacity: 1;
        }
    }
    &.inject {
        opacity: 0;
        transform: scale(.95);
    }
    @for $i from 100 through 1 {
        &:nth-child(#{100 - $i}) {
            z-index: #{$i}; 
        }
    }
}

.ui-btn, button.ui-btn {
    border: none;
    padding: $spacer/2 $spacer;
    color: $white;
    background: $orange;
    text-transform: uppercase;
}

@media print {
    @page {
        margin: 0.25cm;
    }
    section { 
        width: 100%;
        padding: 0 !important;
    }
    nav {
        display: none;
    }
    h1 {
        font-size: 18px;
        margin: $spacer/2 0;
        text-indent: 0px !important;
        text-align: center;
    }
    h2 {
        font-size: 14px;
    }
    .list-sched, h1 {
        padding: 0 !important;
    }
    .card-item {
        padding: 0;
        margin: 0;
        width: calc(100% - #{$spacer});
        height: 122px;
        display: block;
        overflow: hidden;
        border: 1px solid lighten($black, 40%);
        margin: 0 auto 3px;
        page-break-inside: avoid;
        @include clearfix();
        .col {
            float: left;
            width: 60%;
            > div {
                padding: $spacer/2;
            }
            &:nth-child(2) {
                width: 40%;
                float: right;
            }
        }
        .display img {
            height: 100px !important;
            width: auto;
            float: right;
        }
    }
    .ui-time {
        font-size: 24px !important;
        margin-top: 0;
        margin-bottom: -$spacer;
    }
    .ui-label {
        font-size: 16px !important;
    }
    .ui {
        display: none;
    }
    a {
        display: none !important;
    }    
}